  <div class="form-group">
    <p>Collaborators</p>
    <% @users.each do |user| %>
      <div class="user">
        <%= check_box_tag "wiki_ids[]user_ids[]", user.id, @wiki.collaborators.where(user_id: user.id).exists? %>
        <%= user.email %> 
      </div>
    <% end %>
  </div>
