
<div class="form-group">
  <p>Collaborators</p>
  <% users.each do |user| %>
    <div class="user">
      <input type="checkbox" name="collaborator" value=<%=user.id%>, 
      <%= @wiki.collaborators.where(user_id: user.id).exists? ? 'CHECKED' : '' %> >
      <%= user.email %> 
    </div>
  <% end %>
  <div>
      <%= link_to "Save", "wiki[user_ids]]", class: 'btn btn-success', method: :post %>
  </div>
</div>
