<h1>Edit Wiki</h1>

<div class="row">
  <div class="col">
    <%= render partial: 'form', locals: { id: @wiki.id, wiki: @wiki } %>
    <%= render partial: 'collaborators/collaborator', locals: { collaborators: @collaborators, wiki: @wiki } %>
  </div>
</div>