// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wiki-table {
  width: auto !important;
  border-width: 2px;
}

#wiki-title {
  width: 250px;
}

#wiki-edit {
  width: 70px;
  text-align: center;
}

#wiki-delete {
  width: 80px;
  text-align: center;
}